:root {
  /* --primary: #b6895b; */
  /* --text: #7abe04; */
  --primary: #7abe04;
  --bg: #000000;
  --text: #ffffff;
  --transition: all 0.3s ease;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  outline: none;
  border: none;
  text-decoration: none;
}

html {
  scroll-behavior: smooth;
  overflow-x: hidden;
}

body {
  font-family: "Poppins", sans-serif;
  background-color: var(--bg);
  color: #fff;
  /* min-height: 10000px; */
  overflow-x: hidden;
}

/* ========================= NAVBAR START ========================= */
.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1.4rem 3%;
  background-color: rgba(1, 1, 1, 0.9);
  border-bottom: 1.5px solid var(--primary);
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 9999;
}

.navbar-icon {
  display: flex;
  align-items: center;
  gap: 10px;
}

.navbar .navbar-icon-img {
  max-width: 3.5rem;
}

.navbar .navbar-logo {
  font-size: 2rem;
  font-weight: 700;
  color: #fff;
}

.navbar .navbar-logo span {
  color: var(--primary);
}

.navbar .navbar-nav a {
  color: #fff;
  display: inline-block;
  font-size: 1.3rem;
  margin: 0 1rem;
}

.navbar .navbar-nav a:hover {
  color: var(--primary);
}

.navbar .navbar-nav a::after {
  content: "";
  display: block;
  padding-bottom: 0.5rem;
  border-bottom: 0.1rem solid var(--primary);
  transform: scaleX(0);
  transition: 0.2s linear;
}

.navbar .navbar-nav a:hover::after {
  transform: scaleX(0.5);
}

.navbar .navbar-extra a {
  color: #fff;
  margin: 0 0.5rem;
}

.navbar .navbar-extra a:hover {
  color: var(--primary);
}

#hamburger-menu {
  display: none;
}

/* DROPDOWN */

.navbar .navbar-nav .dropdown {
  display: inline-block;
}

.navbar .navbar-nav .dropdown-content {
  display: none;
  position: absolute;
  background-color: #fff;
  min-width: 160px;
  box-shadow: 0px 16px 8px 0px rgba(0, 0, 0, 0.5);
  z-index: 1;
}

.navbar .navbar-nav .dropdown-content a {
  color: #000000;
  padding: 7.5px 7.5px;
  text-decoration: none;
  display: block;
  text-align: left;
}

.navbar .navbar-nav .dropdown-content a:hover {
  background-color: #fff;
}

.navbar .navbar-nav .dropdown:hover .dropdown-content {
  display: block;
}

/* SUB-DROPDOWN */

/* .navbar .navbar-nav .sub-dropdown {
  display: inline-block;
}

.navbar .navbar-nav .sub-dropdown-content {
  display: none;
  position: absolute;
  background-color: #f0f8ff;
  min-width: 160px;
  box-shadow: 0px 16px 8px 0px rgba(0, 0, 0, 0.5);
  z-index: 1;
}

.navbar .navbar-nav .sub-dropdown-content a {
  color: #000000;
  padding: 10px 10px;
  text-decoration: none;
  display: block;
  text-align: left;
  font-weight: 300;
}

.navbar .navbar-nav .sub-dropdown-content a:hover {
  background-color: #f0f8ff;
}

.navbar .navbar-nav .sub-dropdown:hover .sub-dropdown-content {
  display: block;
} */

/* ========================= NAVBAR END ========================= */

/* ========================= HERO SECTION START ========================= */

.slider-container {
  width: 100vw;
  height: 100vh;
  background-color: #000000;
  isolation: isolate;
}

.slider-container .slider-item {
  width: 100vw;
  height: 100vh;
  display: flex;
  align-items: center;
  position: relative;
  position: absolute;
  transition: opacity 1000ms;
}

.slider-container .slider-item[data-show="show"] {
  opacity: 1;
}

.slider-container .slider-item[data-show="hidden"] {
  z-index: -1;
  opacity: 0;
}

.slider-container .slider-item::before {
  content: "";
  width: 100%;
  height: 100%;
  position: absolute;
  background-color: hsla(0, 0%, 0%, 0.6);
  /* background-image: linear-gradient(
    to top,
    rgba(0, 0, 0, 0.5),
    rgba(0, 0, 0, 0.3),
    rgba(0, 0, 0, 0.2),
    transparent
  ); */
}

.slider-container .slider-item img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.slider-container .slider-item .content {
  padding: 1.4rem 7%;
  max-width: 100rem;
  position: absolute;
}

.slider-container .slider-item .content h1 {
  font-size: 3.5rem;
  color: #fff;
  text-shadow: 1px 1px 3px rgba(1, 1, 3, 0.5);
  line-height: 1.25;
}

.slider-container .slider-item .content h1 span {
  color: var(--primary);
}

.slider-container .slider-item .content p {
  font-size: 1.25rem;
  margin-top: 1rem;
  margin-bottom: 1rem;
  line-height: 1rem;
  font-weight: 400;
  text-shadow: 1px 1px 3px rgba(1, 1, 3, 0.5);
}

.slider-container .slider-item .content .cta {
  margin-top: 1rem;
  margin-bottom: 1rem;
  display: inline-block;
  padding: 1rem 3rem;
  font-size: 1.4rem;
  font-weight: 500;
  color: var(--bg);
  background-color: var(--primary);
  border-radius: 1rem;
  box-shadow: 1px 1px 3px rgba(1, 1, 3, 0.5);
}

/* .hero {
  min-height: 100vh;
  display: flex;
  align-items: center;
  background-image: url("../img/header-bg.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  position: relative;
} */

/* .hero::after {
  content: "";
  display: block;
  position: absolute;
  width: 100%;
  height: 30%;
  bottom: 0;
  background: linear-gradient(
    0deg,
    rgba(1, 1, 3, 1) 8%,
    rgba(255, 255, 255, 0) 50%
  );
}

.hero .content {
  padding: 1.4rem 7%;
  max-width: 100rem;
}

.hero .content h1 {
  font-size: 3.5rem;
  color: #fff;
  text-shadow: 1px 1px 3px rgba(1, 1, 3, 0.5);
  line-height: 1.25;
}

.hero .content h1 span {
  color: var(--primary);
}

.hero .content p {
  font-size: 1.25rem;
  margin-top: 1rem;
  margin-bottom: 1rem;
  line-height: 1rem;
  font-weight: 300;
  text-shadow: 1px 1px 3px rgba(1, 1, 3, 0.5);
  mix-blend-mode: difference;
}

.hero .content .cta {
  margin-top: 1rem;
  margin-bottom: 1rem;
  display: inline-block;
  padding: 1rem 3rem;
  font-size: 1.4rem;
  font-weight: 500;
  color: var(--bg);
  background-color: var(--primary);
  border-radius: 1rem;
  box-shadow: 1px 1px 3px rgba(1, 1, 3, 0.5);
} */
/* ========================= HERO SECTION END ========================= */

/* ========================= ABOUT SECTION START ========================= */
.about,
.list,
.contact,
.container,
.program {
  padding: 10rem 7% 1.4rem;
}

.about h2,
.list h2,
.contact h2,
.gallery h2,
.program h2 {
  text-align: center;
  font-size: 2.5rem;
  margin-bottom: 3rem;
}

.about h2 span,
.list h2 span,
.contact h2 span,
.gallery h2 span,
.program h2 span {
  color: var(--primary);
}

.about .row {
  display: flex;
}

.about .row .about-img {
  flex: 1 1 25rem;
}

.about .row .about-img img {
  width: 100%;
  transition: var(--transition);
}

.about .row .about-img:hover img {
  transform: scale(1.2);
}

.about .row .content {
  flex: 1 1 50rem;
  padding: 0 1rem;
}

.about .row .content h3 {
  font-size: 1.4rem;
  margin-bottom: 1rem;
  text-align: center;
}

.about .row .content p {
  margin-bottom: 0.8rem;
  font-size: 1.2rem;
  font-weight: 400;
  line-height: 1.6;
  text-align: justify;
  color: var(--text);
}

.about .row .cta {
  margin-top: 1rem;
  margin-bottom: 1rem;
  display: inline-block;
  padding: 1rem 3rem;
  font-size: 1.4rem;
  font-weight: 500;
  color: var(--bg);
  background-color: var(--primary);
  border-radius: 1rem;
  box-shadow: 1px 1px 3px rgba(1, 1, 3, 0.5);
}
/* ========================= ABOUT SECTION END ========================= */

/* ========================= LIST SECTION START ========================= */
.list h2,
.contact h2,
.gallery h2,
.program h2 {
  margin-bottom: 1rem;
}

.list h4,
.contact h4,
.program h4,
.gallery h4 {
  font-size: 1.25rem;
  text-align: center;
  max-width: 75rem;
  margin: auto;
  font-weight: 400;
  line-height: 1.6;
  color: var(--text);
}

.list p {
  text-align: justify;
  max-width: 50rem;
  margin: auto;
  font-weight: 300;
  line-height: 1.6;
  color: var(--text);
}

.list .row {
  display: flex;
  flex-wrap: wrap;
  margin-top: 5rem;
  justify-content: center;
}

.list .row .list-card {
  text-align: center;
  padding-bottom: 4rem;
  padding-left: 2rem;
  padding-right: 2rem;
  max-width: 40rem;
}

.list .row .list-card img {
  /* border-radius: 30%; */
  width: 12rem;
  transition: var(--transition);
}

.list .row .list-card .list-card-title {
  margin: 1rem auto 0.5rem;
}

.list .row .list-card:hover img {
  transform: scale(1.2);
}
/* ========================= LIST SECTION END ========================= */

/* ========================= PROGRAM SECTION START ========================= */
.program {
  background-color: var(--bg);
}

.program .row {
  display: flex;
  flex-wrap: wrap;
  gap: 5rem;
  justify-content: center;
  padding: 0rem 7% 1.4rem;
  margin-top: 3rem;
}

.program .row .list-card {
  width: 30rem;
  height: 20rem;
  border-radius: 10px;
  background-color: var(--primary);
  text-align: center;
  position: relative;
  cursor: pointer;
  transition: var(--transition);
}

.program .row .list-card img {
  width: 100%;
  height: 85%;
  object-fit: cover;
}

.program .row .list-card:hover {
  transform: scale(1.1);
}

.program .row .list-card h3 {
text-decoration: none;
color: #fff;
}

/* ========================= PROGRAM SECTION END ========================= */

/* ========================= GALLERY SECTION START ========================= */
.gallery {
  background-color: var(--bg);
}

.gallery-grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  gap: 1rem;
  margin-top: 3rem;
}

.gallery-item {
  position: relative;
  overflow: hidden;
  border-radius: 10px;
  cursor: pointer;
}

.gallery-item img {
  width: 100%;
  height: 250px;
  object-fit: cover;
  transition: var(--transition);
}

.gallery-item:hover img {
  transform: scale(1.1);
}
/* ========================= GALLERY SECTION END ========================= */

/* ========================= CONTACT SECTION START ========================= */
.contact .row {
  display: flex;
  margin-top: 3rem;
  background-color: #222;
}

.contact .row .maps {
  flex: 1 1 40rem;
  width: 100%;
  object-fit: cover;
}

.contact .row form {
  flex: 1 1 40rem;
  padding: 2rem 2rem;
  text-align: left;
}

.contact .row form .input-grup {
  display: flex;
  align-items: center;
  margin-top: 1rem;
  margin-bottom: 1rem;
  background-color: var(--bg);
  border: 1px solid #eee;
  padding-left: 2rem;
}

.contact .row form .input-grup img {
  width: 3rem;
}

.contact .row form .input-grup a {
  width: 100%;
  padding: 2rem;
  font-size: 1.7rem;
  background: none;
  color: #fff;
}

/* .contact .row form .input-grup input {
  width: 100%;
  padding: 2rem;
  font-size: 1.7rem;
  background: none;
  color: fff;
}

.contact .row form .btn {
  margin-top: 3rem;
  display: inline-block;
  padding: 1rem 3rem;
  font-size: 1.7rem;
  color: #fff;
  background-color: var(--primary);
  cursor: pointer; }*/

/* ========================= CONTACT SECTION END ========================= */

/* ========================= FOOTER START ========================= */
footer {
  background-color: var(--primary);
  text-align: center;
  padding: 1rem 0 2rem;
  margin-top: 2rem;
}

footer .socials {
  padding: 1rem 0;
}

footer .socials a {
  color: #fff;
  margin: 1rem;
  font-size: 1.2rem;
}

footer .socials a:hover,
footer .links a:hover {
  color: var(--bg);
}

footer .links {
  margin-bottom: 1rem;
  font-size: 1.5rem;
  font-weight: 700;
}

footer .links a {
  color: #fff;
  padding: 0.7rem 0.7rem;
}

footer .credit {
  font-size: 1.2rem;
}

footer .credit a {
  color: #fff;
  font-weight: 700;
}
/* ========================= FOOTER END ========================= */

/* ========================= MEDIA QUERIES START ========================= */
/* LAPTOP */
@media (max-width: 1366px) {
  html {
    font-size: 75%;
  }
}

/* TABLET */
@media (max-width: 768px) {
  html {
    font-size: 60%;
  }

  #hamburger-menu {
    display: inline-block;
  }

  .navbar .navbar-nav {
    position: absolute;
    top: 100%;
    right: -100%;
    background-color: #fff;
    width: 30rem;
    height: 100vh;
    transition: 0.3s;
  }

  .navbar .navbar-nav.active {
    right: 0;
  }

  .navbar .navbar-nav a {
    color: var(--bg);
    display: block;
    width: 25rem;
    margin: 1.5rem;
    padding: 0.5rem;
    font-size: 2rem;
  }

  .navbar .navbar-nav a::after {
    transform-origin: 0 0;
  }

  .navbar .navbar-nav a:hover::after {
    transform: scaleX(0.2);
  }

  .about .row {
    flex-wrap: wrap;
  }

  .about .row .about-img img {
    height: 30rem;
    object-fit: cover;
    object-position: center;
  }

  .about .row .content {
    padding: 0;
  }

  .about .row .content h3 {
    margin-top: 1rem;
    font-size: 1.5rem;
  }

  .list p {
    font-size: 1.2rem;
  }

  .contact .row {
    flex-wrap: wrap;
  }

  .contact .row .maps {
    height: 30rem;
  }

  .contact .row form {
    padding-top: 0;
  }

  footer .links {
    margin-bottom: 1rem;
    font-size: 1rem;
    font-weight: 700;
  }

  footer .links a {
    color: #fff;
    padding: 0.7rem 0.7rem;
  }
}

/* MOBILE PHONE */
@media (max-width: 450px) {
  html {
    font-size: 57.5%;
  }
}
/* ========================= MEDIA QUERIES END ========================= */
