:root {
  /* --primary: #b6895b; */
  --primary: #7abe04;
  --bg: #000000;
  --text: #000000;
  --transition: all 0.3s ease;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  outline: none;
  border: none;
  text-decoration: none;
}

html,
body {
  overflow-x: hidden;
}

.slider-container {
    width: 100vw;
    height: 100vh;
    background-color: #000000;
    isolation: isolate;
}

.slider-container .slider-item {
  width: 100vw;
  height: 100vh;
  display: flex;
  /* justify-content: center; */
  align-items: center;
  position: relative;
  position: absolute;
  transition: opacity 1000ms ;
}

.slider-container .slider-item[data-show="show"] {
  opacity: 1;
}

.slider-container .slider-item[data-show="hidden"] {
  z-index: -1;
  opacity: 0;
}

.slider-container .slider-item::before {
  content: "";
  width: 100%;
  height: 100%;
  position: absolute;
  background-color: hsla(0, 0%, 0%, 0.521);
  /* background-image: linear-gradient(to top, rgba(0, 0, 0, 0.548), rgba(0, 0, 0, 0.247), transparent); */
}

.slider-container .slider-item img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.content {
  padding: 1.4rem 7%;
  max-width: 100rem;
  position: absolute;
}

.content h1 {
  font-size: 3.5rem;
  color: #fff;
  text-shadow: 1px 1px 3px rgba(1, 1, 3, 0.5);
  line-height: 1.25;
}

.content h1 span {
  color: var(--primary);
}

.content p {
  font-size: 1.25rem;
  margin-top: 1rem;
  margin-bottom: 1rem;
  line-height: 1rem;
  font-weight: 300;
  text-shadow: 1px 1px 3px rgba(1, 1, 3, 0.5);
}

.content .cta {
  margin-top: 1rem;
  margin-bottom: 1rem;
  display: inline-block;
  padding: 1rem 3rem;
  font-size: 1.4rem;
  font-weight: 500;
  color: var(--bg);
  background-color: var(--primary);
  border-radius: 1rem;
  box-shadow: 1px 1px 3px rgba(1, 1, 3, 0.5);
}

/* .container {
    width: 100vh;
    overflow: hidden;
}

.wrapper {
    width: 100%;
    display: flex;
    animation: slide 16s infinite;
}

@keyframes slide {
    0% {
        transform: translateX(0);
    }
    20% {
        transform: translateX(0);
    }
    30% {
        transform: translateX(-100%);
    }
    40% {
        transform: translateX(-100%);
    }
    50% {
        transform: translateX(-200%);
    }
    60% {
        transform: translateX(-200%);
    }
    70% {
        transform: translateX(-300%);
    }
    80% {
        transform: translateX(-300%);
    }
    90% {
        transform: translateX(-400%);
    }
    100% {
        transform: translateX(-400%);
    }
} */

/* @keyframes slide {
    0% {
        transform: translateX(0);
    }
    25% {
        transform: translateX(0);
    }
    30% {
        transform: translateX(-100%);
    }
    50% {
        transform: translateX(-100%);
    }
    55% {
        transform: translateX(-200%);
    }
    75% {
        transform: translateX(-200%);
    }
    80% {
        transform: translateX(-300%);
    }
    100% {
        transform: translateX(-300%);
    }
} */

/* img {
    width: 100%;
} */
